.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  opacity: 1;
}

.ADDACButton {
  position: relative;
  top: 17vh;
  color: #00c3ff;
  background-color: white;
  border: 1px solid #00c3ff;
  border-radius: 7px;
  padding: 7px;
  width: 30%;
  height: 3rem;
  animation: fadeIn 0.3s ease-in-out forwards;
  margin-right: 20px;
}

.ImportCRDButton {
  position: relative;
  margin-left: 20px;
  top: 17vh;
  width: 30%;
  border: 1px solid #00c3ff;
  color: #00c3ff;
  border-radius: 7px;
  padding: 7px;
  height: 3rem;
  background-color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.logout {
  position: absolute;
  top: 2vh;
  right: 3vw;
}
