.InventoryWrapper {
  position: absolute;
  width: 100vw;
  height: 200vh;
}

.logout {
  position: absolute;
  top: 2vh;
  right: 3vw;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
