table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: 0.5em;
}

table {
  position: relative;
  top: 67px;
  left: 123px;
  width: 70%;
  height: 30%;
  border: 1px #a39485 solid;
  font-size: 0.9em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

th {
  text-align: left;
}

thead {
  font-weight: bold;
  color: #fff;
  background: #73685d;
}

td,
th {
  padding: 1em 0.5em;
  vertical-align: middle;
}

td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}

a {
  color: #73685d;
}

.invouterlists {
  height: 100vh;
  width: 80%;
}

.tagkey {
  background-color: #dfccfb;
  border-radius: 7px;
  font-size: 10px;
  padding: 3px;
}

.tagvalue {
  color: white;
  background-color: #35155d;
  border-radius: 7px;
  font-size: 10px;
  padding: 3px;
}

.metakey {
  background-color: #900c3f;
  color: white;
  border-radius: 7px;
  font-size: 10px;
  padding: 3px;
}

.metavalue {
  background-color: #f8de22;
  border-radius: 7px;
  font-size: 10px;
  padding: 3px;
}
