.signupformouter{
    position: relative;
    top: 3rem;
    left: 10rem;
    width: 75vw;
    margin-right: 3rem;
    padding-right: 3rem;
}

.buttonouterclass{
    position: relative;
}

.signupbutton{
    position: absolute;
    left: 0px;
    top: 0px;
}

.cancelbutton{
    position: absolute;
    left: 100px;
    top: 0px;
}