.dashboardGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.mapchartGrid {
    
    border-radius: 10px;
    box-shadow: 10px 10px 30px grey;
    margin-top: 2rem;
    margin-right: 5rem;
    height: 200px;
}

.costexplorerGrid {
    border-radius: 10px;
        box-shadow: 10px 10px 30px grey;
        margin-top: 2rem;
        margin-right: 5rem;
        height: 200px;
}